* {
  font-family: "Raleway", sans-serif;
}
.page {
  background-color: #e1dcc6;
  height: 100vh;
}

.form_container {
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: row;
  background-image: url(./img/volodymyr-hryshchenko-V5vqWC9gyEU-unsplash.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.9;
  border-radius: 5px;
  width: 80vw;
  height: 80vh;
}

form {
  border: white;
  width: 80%;
  padding-top: 30px;
}

input[type="text"],
select,
textarea {
  background-color: rgb(240, 240, 198);
  opacity: 0.8;
  font-size: 15px;
  width: 100%;
  padding: 12px;
  outline: none;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
  resize: none;
  color: black;
  font-weight: 900;
  font-size: 17px;
}

input[type="submit"] {
  background-color: #2f6f49;
  opacity: 0.8;
  color: white;
  font-weight: 900;
  font-size: 17px;
  padding: 12px 30px;
  border-radius: 5px;
  outline: none;
  border: #e1dcc6;
  cursor: pointer;
  width: 100%;
}

.banner h1 {
  opacity: 0;
}
